* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --grey: rgb(111,111,111);
    --pink: rgb(227, 59, 128);
    --blue: rgb(109, 178, 243);
}

body{
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 20px;
}

.player1,
.player2 {
    display: flex;
    /*flex-direction: column;*/
    align-items: center;
    height: 120px;
    justify-content: center;
    gap: 10px;
}

.player1Name,
.player2Name {
    font-size: 14pt;
    color: var(--grey);
    width: 150px;
    text-align: center;
    border-style: none;
}

/*input[type='text']:focus{
    outline: 1px solid var(--grey);
}*/

.board{
    height: 600px;
    width: 600px;
    display: grid;
    grid-template-columns: repeat(3, 198px);
    grid-template-rows: repeat(3, 198px);
    border-color: var(--grey);
}

.cell {
    background-color: white;
    font-size: 28pt;
    border-style: none;
}

.cell:disabled {
    border-style: none;
}

.gameControls{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px
}

button {
    color: white;
    border-style: none;
    padding: 10px 20px 10px 20px;
    font-size: 16pt;
    border-radius: 5px;
    background-color: var(--pink);
}

.message {
    font-size: 14pt;
    color: var(--grey);
}

/***********************
 * Dialog
 ***********************/
 
 ::backdrop {
    background-image: linear-gradient(
        var(--blue),
        var(--grey)
    );
    opacity: 0.5;
  }

  .playersDialog{
    width: 400px;
    height: 400px;
    background-color: #ffffff;
    border: 1px solid var(--blue);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 10px #cccccc;
    border-radius: 10px;
    z-index:1000;
}

.playersForm {
    width: 400px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.playersFormHeader{
    background-color: var(--blue);
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 20px;
    font-size: 16pt;
    font-weight: 500;
    color: white;
}

.playersFormBody{
    display: grid;
    grid-template-columns: 0.5fr 1.5fr;
    height: 100%;
    padding: 30px;
    align-items: center;
}

.playersFormBody input[type='text']{
    height: 30px;
    border-radius: 5px;
    border-color: var(--grey);
    border-style:solid;
    padding: 10px;
}

.playersFormBody input[type='text']:focus{
    outline: none;
}

.playersFormFooter{
    display: flex;
    gap: 10px;
    justify-content: end;
    align-items: center;
    padding: 10px 20px 20px 20px;
}

.playersFormFooter > button {
    font-size: 12pt;
    background-color: var(--blue);
}